<!--Project work starts
<div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let item of rolelist">{{item.role}}</li> //ngFor is used to iterate any component
        </ul>
    </div>
    <div class="col-4">
        <select>
            <option *ngFor="let role of rolelist" [value]="role.roleId">{{role.role}}</option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-secondary mx-2" *ngFor="let item of rolelist">{{item.role}}</button>"
    </div>
</div>-->

<div class="row">
    @if(isLoader == true) {
        <div class="col-12 text-center">
            <div class="spinner-border"></div>
        </div>
    } @else {
        <div class="col-12">
            <h2>Roles List</h2>
        </div>
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Role Name</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of rolelist;let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>